<div class="background">
    <canvas id="bg_canvas" style=""></canvas>
</div>
<div id="index_main">
	<div class="photo">
		<img src="<%=theme.photo%>">
	</div>
	<div class="info">
		
	</div>
</div>
<div id="index_menu">
	<% Object.keys(theme.menu).forEach(function(key) { %>
	<div>
		<a href="<%=theme.menu[key]%>"><%=key%></a>
	</div>
    <% }); %>
</div>
