/*#72FFEE  #77C0FD*/
.background {
    position: absolute;
    right: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 10px #72FFEE inset;
}
#canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: #09192A;
}
.canvas-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}
#index_main {
    position: absolute;
    background: rgba(119,192,253,0.2);
    /*border: solid 1px #72FFEE;*/
    box-shadow: 0 0px 10px 0px #72FFEE;
}
#index_main #photo {
    position: absolute;
    top: 50%;
    left: 8%;
    padding: 10px;
    border: solid 2px #72FFEE;
    box-shadow: 0px 0px 5px 0px #77C0FD;
}
#index_main #photo img {
    width: inherit;
    height: inherit;
}
#index_main #info {
    width: 50%;
    position: absolute;
    right: 8%;
    top: 50%;
    /*border: solid 1px #72ffee;*/
}
#info h2 {
    text-align: center;
    color: #72FFEE;
    animation: text_color 1.5s ease-in-out infinite alternate;
}
@keyframes text_color {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #77c0fd,
               0 0 70px  #77c0fd,
               0 0 80px  #77c0fd,
               0 0 100px #77c0fd,
               0 0 150px #77c0fd;
  }
  to {
    color: #191970;
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #77c0fd,
               0 0 35px #77c0fd,
               0 0 40px #77c0fd,
               0 0 50px #77c0fd,
               0 0 75px #77c0fd;
  }
}
#info p {
    margin: 15px 0;
    color: #77C0FD;
    text-align: center;
}
#info a {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: #72FFEE;
}
#info a:hover {
    text-shadow: 0 0 20px #72FFEE;
}
#index_menu {
    width: 46%;
    height: 30%;
    position: absolute;
    right: 22%;
    top: 65%;
    /*border: solid 1px #72ffee;*/
}
#index_menu .menu_box {
    position: absolute;
    top: 0px;
}
#index_menu .menu_box a {
    position: relative;
    display: block;
    box-sizing: border-box;
    float: left;
    z-index: 9999;
    /*border: solid 1px #72ffee;*/
}
#index_menu .menu_box a:nth-child(2n) {
    margin-top: 100px;
}
#index_menu .menu_box a > span {
    display: none;
}